extends layout

block content
    a(href='/posts')
        p Back to Home Page
    a(href='/sign-up') Sign Up 
    a(href='/login') Log In 
    - let str = JSON.stringify(comments)
    - let parsed = JSON.parse(str)
    a(href=`/posts/${parsed[0].post}`)
        p Back to Post
    each comment in parsed
        a(href=`/posts/${comment.post}/comments/${comment._id}` class='link-to-comment')
            div.comment-layout
                p #{comment.body}
                p #{comment.timestamp}
                p #{comment.user.username}