extends layout

block content
  a(href='/sign-up') Sign Up 
  a(href='/login') Log In
  h1= "Posts"
  p Welcome to #{title}
  - let str = JSON.stringify(posts)
  - let parsed = JSON.parse(str)
  each post in parsed
    a(href=`/posts/${post._id}` class='link-to-post')
      div.post-layout
        h2 #{post.title}
        p #{post.timestamp}