extends layout

block content
    a(href='/posts')
        p Back to Home Page
    a(href='/sign-up') Sign Up 
    a(href='/login') Log In 
    - let str = JSON.stringify(comment)
    - let parsed = JSON.parse(str)
    a(href=`/posts/${parsed[0].post}/comments`)
        p Back to Comments
    each comment in parsed
        div.comment-layout
            p #{comment.body} 
            p #{comment.timestamp} 
            p #{comment.user.username}
    a(href=`/posts/${parsed[0].post}/comments/${parsed[0]._id}/edit-comment`) Edit Comment
    a(href=`/posts/${parsed[0].post}/comments/${parsed[0]._id}/delete-comment`) Delete Comment